{%extends "base.html"%}
{%block title %}INDEX {%endblock%}
{%block content%}
<!-- <p>Test</p> -->
<section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">BT Event Calendar</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Find out what events are going on in BT!</h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="/calendar" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Calendar</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="static/assets/img/bt logo.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

{%endblock%}

{%block main_css%} <link href="static/assets/css/style.css" rel="stylesheet"> {%endblock%}