{%extends "base.html"%}
{%block title%} PRESENTATION {%endblock%}
{%set active_page='presentation'%}
{%block content%} 
<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vR3VGcAIs_NZ2_4nlqhscsiEaTAFiaBzjNLv_rpWj83WimrBWe4qYp82sLnbbHiz8YfBS8lfmEYHBUo/embed?start=true&loop=false&delayms=60000" frameborder="0" width="1440" height="839" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
{%endblock%}
{%block main_css%}<link href="static/assets/css/style.css" rel="stylesheet">{%endblock%}