{%extends "base.html"%}
{%block title %} Sample Date Page {%endblock%}
{%block content %}

<header>
    <h1> 1 </h1>
</header>


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"> 
<link rel='stylesheet' href="{{ url_for('static', filename='assets/css/style2.css')}}">
<div class="container">
<div class="row">
  <div class="col-md-10">
    <div class="box box-aqua">
      <div class="box-header ui-sortable-handle" style="cursor: move;">
        <i class="ion ion-clipboard"></i>
        <h3 class="box-title">To Do List</h3>
        <div class="box-tools pull-right">
          <ul class="pagination pagination-sm inline">
            <li><a href="#">«</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">»</a></li>
          </ul>
        </div>
      </div>
 
      <div class="box-body">
        <ul class="todo-list ui-sortable">
          <li>
            <span class="handle ui-sortable-handle">
              <i class="fa fa-ellipsis-v"></i>
              <i class="fa fa-ellipsis-v"></i>
            </span>
            <input type="checkbox" value="" name="">
            <span class="text">Event 1</span>
            <div class="tools">
              <i class="fa fa-edit"></i>
              <i class="fa fa-trash-o"></i>
            </div>
          </li>
          <li>
            <span class="handle ui-sortable-handle">
              <i class="fa fa-ellipsis-v"></i>
              <i class="fa fa-ellipsis-v"></i>
            </span>
            <input type="checkbox" value="" name="">
            <span class="text">Event 2</span>
            <div class="tools">
              <i class="fa fa-edit"></i>
              <i class="fa fa-trash-o"></i>
            </div>
          </li>
          <li>
            <span class="handle ui-sortable-handle">
              <i class="fa fa-ellipsis-v"></i>
              <i class="fa fa-ellipsis-v"></i>
            </span>
            <input type="checkbox" value="" name="">
            <span class="text">Event 3</span>
              <i class="fa fa-edit"></i>
              <i class="fa fa-trash-o"></i>
            </div>
          </li>
        </ul>
      </div>
    <!-- <div class="box-footer clearfix no-border">-->
    <!--  <button type="button" class="btn btn-default pull-right"><i class="fa fa-plus"></i> Add item</button> -->
    <!--  </div> -->
    </div>
  </div> 
  
 
{%endblock%}